# ── Data file types ───────────────────────────────────────────────────────────

*.h5ad
*.rds
*.gz
*.mtx
*.loom
*.pt


# ── SLURM logs ────────────────────────────────────────────────────────────────
*.log
*.err
*.out

# ── Python cache ──────────────────────────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
.Rproj.user
